.f-left {
  float: left;
}

.f-right {
  float: right;
}
.img {
  max-width: 100%;
}

select,
input,
button {
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

p,
ul,
li,
input {
  margin: 0;
  padding: 0;
  line-height: 1;
}

li,
ul {
  list-style-type: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a7a7a7;
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 0 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(109, 109, 109)),
    color-stop(0.72, rgb(109, 109, 109)),
    color-stop(0.86, rgb(109, 109, 109))
  );
}

.left-panel-tool {
  width: 456px;
  height: 100vh;
  background: #555555;
  border-right: 1px solid #1d1e1f;
  float: left;
  position: relative;
  z-index: 999;
  .button_group {
    background: none;
    border: none;
  }
  .logo {
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #1d1e1f;
    img {
      max-width: 175px;
      vertical-align: middle;
    }
    span {
      font-size: 21px;
      color: #f3f3f3;
      vertical-align: middle;
    }
  }
  .bar-menu {
    width: 70px;
    height: 100vh;
    background: #343434;
    border-right: 1px solid #1d1e1f;
    .link-item {
      text-align: center;
      height: 59px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: solid 1px #6d6d6d;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background: #17375e;
      }
      img {
        max-width: 28px;
      }
      p {
        font-size: 12px;
        color: #c3c3c3;
      }
    }
  }
  .label-panel {
    width: 315px;
    height: 100vh;
    font-size: 15px;
    color: #c3c3c3;
    background: #343434;
    border-right: 1px solid #1d1e1f;
    #annotationListContent {
      position: relative;
      #classListInfo {
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 25px;
        padding: 0 5px;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .box-title {
      background: #4b4b4b;
      border-bottom: 1px solid #1d1e1f;
      padding: 7px 14px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      span {
        margin-left: 7px;
      }
    }
    .box-content {
      .button-list {
        height: 40px;
        &.no-border-bottom {
          border-bottom: none;
        }
        button {
          background: #343434;
          border: none;
          padding: 0;
          text-align: center;
          font-weight: 600;
          line-height: 40px;
          &:hover {
            background: #17375e;
          }
          &:disabled {
            cursor: not-allowed;
            opacity: 0.7;
          }
          &.w-50 {
            width: 50%;
            &:nth-child(1) {
              border-right: 1px solid #1d1e1f;
            }
            img {
              margin-right: 10px;
              vertical-align: middle;
            }
          }
        }
        input[type='file'] {
          position: absolute;
          width: 100%;
          height: 40px;
          top: 0;
          left: 0;
          opacity: 0;
          &:disabled {
            display: none;
          }
        }
      }
    }
    .table-wrap,
    .table-wrap-anno {
      overflow-y: auto;
      min-height: 250px;
    }
    .label-list-head {
      height: 40px;
      .create-label {
        background: none;
        border: none;
        height: 100%;
        width: 100%;
        &:hover {
          background: #17375e;
        }
        span {
          vertical-align: middle;
          &:nth-child(1) {
            margin-right: 10px;
          }
        }
      }
      .label-type {
        display: inline-block;
        margin-left: 25px;
      }
    }
    .label-list-table {
      table-layout: fixed;
      width: 100%;
      $colsWidth: (
        1: 28px,
        2: 90px,
        3: 45px,
        4: 60px,
        5: 25px,
      );

      thead {
        border-top: 1px solid #1d1e1f;
        border-bottom: 1px solid #1d1e1f;
        position: -webkit-sticky; /* Safari */
      }

      th {
        border: none;
        border-right: 1px solid #4b4b4b;
        text-align: center;
        line-height: 23px;
        background: #2d2d2d;
        font-weight: normal;
        position: sticky;
        top: -1px;
        z-index: 100;
        &:nth-child(4) {
          border-right: none;
        }
        @each $index, $width in $colsWidth {
          &:nth-child(#{$index}) {
            width: $width;
          }
        }
      }
      tbody {
        tr {
          line-height: 25px;
          background: #383737;
          position: relative;
          cursor: pointer;
          &:nth-child(even) {
            background: #2d2d2d;
          }
          &:hover {
            background: rgba(187, 183, 183, 0.5);
          }
          &.select {
            background: rgba(143, 217, 61, 0.5);
          }
        }
        td.label-type {
          text-align: left;
          padding-left: 5px;
          .fa-pencil {
            width: 20px;
            height: 17px;
            text-align: center;
          }
        }
        td.last {
          .remove-label {
            background: #918e8e;
            line-height: 18px;
            padding: 0 3px;
            margin-top: 4px;
            &:hover {
              background: #b52727;
            }
          }
        }
      }
      td {
        color: #ffffff;
        text-align: center;
        border-bottom: none;
        button {
          background: none;
          border: none;
          img {
            max-width: 16px;
          }
        }
        .label-name {
          display: block;
          padding: 0 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .input-label-name {
          width: 100%;
          background: #252525;
          border: 1px solid #8fd93d;
          padding: 0 3px;
          &.ng-empty {
            border: 1px solid red;
          }
        }
        .input-color-picker {
          color: transparent;
          width: 20px;
          border: none;
          cursor: pointer;
        }
      }
    }
    .btn-download-label {
      width: 100%;
      line-height: 45px;
      background: #4b4b4b;
      border: none;
      &:hover {
        background: #17375e;
      }
    }
    #subClassList {
      width: 310px;
      background: #383737;
      position: absolute;
      left: 100%;
      top: -1px;
      color: #fff;
      font-size: 12px;
      overflow-y: auto;
      border: 1px solid #1d1e1f;
      z-index: 1000;
      .box-title {
        justify-content: space-between;
        .upload-json {
          display: inline-block;
          width: 30px;
          height: 23px;
          text-align: center;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          vertical-align: middle;
        }
        button {
          line-height: initial;
          background: none;
          &:hover {
            background: initial;
          }
        }
        #sub-classes {
          display: block;
          width: 30px;
          height: 23px;
          position: absolute;
        }
      }
      .sub-class-item {
        min-height: 150px;
        max-height: 217px;
        overflow-y: auto;
      }
      .sub-class-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
          margin: 0;
          width: calc(100% / 3 - 2px);
          text-align: center;
          line-height: 26px;
          text-transform: capitalize;
          position: sticky;
          top: -1px;
          z-index: 10;
        }
      }
      .sub-class-item {
        .groups-item {
          display: inline-block;
          width: calc(100% / 3 - 4px);
          background: #d3d3d3;
          color: #404040;
          margin: 0 2px;
          vertical-align: top;
        }
        input[type='radio'] {
          display: none;
        }
        label {
          display: inline-block;
          width: 100%;
          line-height: 26px;
          margin: 0;
          text-align: center;
          text-transform: capitalize;
          box-sizing: border-box;
          cursor: pointer;
          border-bottom: 1px dotted #b7b0b0;
          &.select {
            background-color: #8fd93d;
            color: #ffffff;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .mpr-display__func {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
      padding: 2px 3px;
      width: calc(100% / 8);
      height: 40px;
      background: none;
      border: none;
      border-right: thin solid #1d1e1f;
      // &:last-child {
      //   border-right: none;
      // }
      &:hover {
        background: #17375e;
      }
      img {
        width: 27px;
      }
    }
  }
  .title {
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #1d1e1f;
    font-weight: 600;
    font-size: 16px;
    color: #c3c3c3;
    background-color: #555555;
  }
  select {
    background: none;
    border: none;
  }
  option {
    background: #4b4b4b;
    color: #c3c3c3;
  }
  .display-panel {
    width: 70px;
    height: 100vh;
    font-size: 15px;
    color: #c3c3c3;
    background: #4b4b4b;
    .display-panel-tool {
      width: 100%;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .item {
        width: 36px;
        height: 36px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        &:hover {
          .serieDropdown {
            display: block;
          }
        }
        .viewBtn {
          width: 40px;
          height: 40px;
          background: none;
          border: none;
          padding: 0;
          &:hover {
            border-radius: 3px;
            box-shadow: inset 0 -18px 0 0 #444444;
            background-color: #3f3e3e;
          }
        }
      }
      .serieDropdown {
        position: absolute;
        top: 27px;
        left: 31px;
        width: 125px;
        border-radius: 5px;
        padding: 5px;
        background-color: #464646;
        display: none;
        z-index: 999;
        li {
          line-height: 25px;
          .menu-icon {
            display: inline-block;
            width: 22px;
            height: 22px;
            float: none;
            line-height: normal;
            img {
              width: 22px;
            }
          }
          a {
            color: #c3c3c3;
            padding-left: 27px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.right-mpr-tool {
  width: calc(100% - 456px);
  float: left;
  .loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  .mpr-content {
    width: 100%;
    height: 100vh;
    .box-item-mpr {
      width: 50%;
      height: calc(50vh - 2px);
      display: inline-block;
      vertical-align: top;
      border: thin solid white;
      position: relative;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      .label {
        border-radius: 0;
        padding: 5px 8px;
        font-size: 15px;
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0px;
      }
    }
  }
}
